.Navigation {
  list-style: none;
  margin: 0;
  padding: 0;
}

.Navigation--Main {
  font-size: 16px;
  font-weight: 500;
}

.Navigation--Main li  {
  color: #333333;
  margin-bottom: 30px;/*下外边框*/
}

.Navigation--Main li a  {
  color: inherit;       /*继承父元素的颜色黑色*/
  text-decoration: none;/*文本修饰属性*/
  font-size: 16px;
}

.Navigation--Main li a:hover  {
  color: #1D90B1 !important;
  text-decoration: underline;
}

.Navigation--Selected {
  color: #1D90B1 !important; //使用!important的css定义是拥有最高的优先级的
}

/* .Navigation__Splitter {
  border: 0;
  border-bottom: 1px solid #eeeeee;
  margin-bottom: 20px;
}

.Navigation--Secondry {
  font-size: 14px;
  font-weight: 400;
}

.Navigation--Secondry li  {
  margin-bottom: 15px;
}

.Navigation--Secondry li a  {
  font-size: 14px;
} */